{% extends "base.html" %} {% block content %}
<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>
<style type="text/css">
    .button{
  background-color: #C5E8D7;
  border: none;
  color: #006600;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<div class="container">
    <h1><center><font color="#009933" style="font-family:Impact, Charcoal, sans-serif">COVID-19 Spread Analysis</font></center></h1>
    <div >
        <h5><font color="#009933"><b>Real Time Stats (World Wide):</b></font></h5>
        <tr>
        {% for i in data %} 
               <td> <button class="button"><font color="#006600">{{i}}</font> : {{data[i]}}  </button></td>
        {% endfor %}
        </tr>
    </div>
  <div class="row">
    <div class="col-4">
        <h5><font color="#009933"><b>Top 15 country</b></font></h5>
        <p><font color="#009933"><b>This is the countrywise covid-19 data upto 20 july 2020.</b></font></p>
        <table class="table-responsive-sm table-dark" style="background-color: #C5E8D7" >
        <thead>
            <tr>
            <th scope="col"><font color="#006600">Country</font></th>
            <th scope="col"><font color="#006600">Confirmed</font></th>
            </tr>
        </thead>
        <tbody>
    {% for pair in pairs %}
    <tr>
    <td><font color="#006600">{{ pair[0]}}</font></td>
    <td><font color="#006600">{{ pair[1]}}</font></td>
    </tr>
    {% endfor %}
    </tbody>
    </table></div>

    <!-- <div class="col-2">
        <h5><font color="white">Real Time Stats</font></h5>
        {% for i in data %}
        <tr>{{i}}</tr>
        <tr>{{data[i]}}</tr>
        <br>
        {% endfor %}
    </div> -->
    <div class="col-8">
        <h5><font color="#009933">World map of corona cases. The bigger the circle, bigger is the impace of corona virus in that province state.</font></h5>
        <!-- <p>using the same data we provided an updated map that contains</p> -->
        {{cmap|safe}}</div>
        
  </div>
</div>
<div>
    <br>
    <h2><font color="#009933" style="font-family:Impact, Charcoal, sans-serif"><center>Real Time Data for Indian States</center></font></h2>
    <center>
  <table class="table-responsive-sm table-dark" style="background-color: #C5E8D7">
    <!-- <caption>Real Time Data for Indian States</caption> -->
        <thead>
            <tr>
            <th scope="col"><font color="#006600" size="5">State</font></th>
            <th scope="col"><font color="#006600" size="5">Confirmed&nbsp</font></th>
            <th scope="col"><font color="#006600" size="5">Cured&nbsp</font></th>
            <th scope="col"><font color="#006600" size="5">Death</font></th>
            </tr>
        </thead>
        <tbody>
    {% for i in range(36) %}
    <tr>
    <td><font color="#006600" style="font-weight: bold">{{ state[i]}}&nbsp</font></td>
    <td><font color="#006600" style="font-weight: bold">{{ conf[i]}}</font></td>
    <td><font color="#006600" style="font-weight: bold">{{ cur[i]}}</font></td>
    <td><font color="#006600" style="font-weight: bold">{{ death[i]}}</font></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </center>
</div>


{% endblock %}